<?php

$app['mongo.server.hostname'] = '';
$app['mongo.server.port']     = '';
$app['mongo.server.username'] = '';
$app['mongo.server.password'] = '';
$app['mongo.server.db']       = '';
$app['message.throttle.seconds'] = 3600;
$app['message.throttle.count'] = 3;
$app['message.throttle.blacklist'] = [ ];
$app['message.throttle.whitelist'] = [ ];
$app['tweet.token'] = '';